.result{
    display: flex;
    width: 698x;
    height: 100px;
    background-color: #666666;
    border-bottom: 1px solid lightgrey;
}
.App{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.panel{
    display: flex;
    flex-direction: column;
    width: 700px;
}
button {
    width: 25%;
    height: 100px;
    border: 1px solid lightgrey;
}
.fifth-row:last-child button:first-child {
    width: 50%!important;
}
