.result{
    display: flex;
    height: 100px;
    background-color: #666666;
    border-bottom: 1px solid lightgrey;
    color: white;
    font-size: 60px;
    font-weight: 600;
    flex-direction: row-reverse;
}
.result p {
    margin: 20px;
}
.App{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
.panel{
    display: flex;
    flex-direction: column;
    width: 700px;
}
button {
    width: 25%;
    height: 100px;
    border: 1px solid lightgrey;
    color: #000;
    font-size: 20px;
}

